/*/////////////////////////////////////////////// GENERAL STYLES ///////////////////////////////////////*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid yellow;
}

img {
  max-width: 100%
  height:auto;
}
body {

}

h1, h2, h3, h4, h5, h6, a, p, i {
  font-family: helvetica
  text-align:left;
  color: black;
}

button {

}

header, footer {
  padding: 20%;
  min-height: 70vh;
}

section {
  padding: 2% 7%;
}

[class*=col] {
  padding: 2%
}

/*/////////////////////////////////////////////// HEADER /////////////////////////////////////////////*/

nav {

}

nav a{

}
/*/////////////////////////////////////////////// SKILLS SECTION /////////////////////////////////////////////*/
section.skills {

}
/*/////////////////////////////////////////////// SECTION /////////////////////////////////////////////*/

/*/////////////////////////////////////////////// SECTION /////////////////////////////////////////////*/

/*/////////////////////////////////////////////// SECTION /////////////////////////////////////////////*/

/*/////////////////////////////////////////////// SECTION /////////////////////////////////////////////*/

/*/////////////////////////////////////////////// FOOTER /////////////////////////////////////////////*/
