---
layout: default
---
<section>
  <h1>{{page.title}}
  </h1>
</section>

<section>
<h4>{{page.intro}}
</h4>
</section>
{% for block in page.blocks %}
{% if block.type == "text-image" %}
{% include content-text-image.html subhead=block.subhead text=block.text image=block.image %}
{% elsif block.type == "text-quote" %}
{% include content-text-quote.html subhead=block.subhead text=block.text quote=block.quote %}
{% elsif block.type == "text-text" %}
{% include content-text-text.html text-left=block.text-left subhead-left=block.subhead-left text-right=block.text-right subhead-right=block.subhead-right %}
{% elsif block.type == "text-space" %}
{% include content-text-space.html subhead=block.subhead text=block.text %}
{% endif %}
{% endfor %}
