---
layout: default
---
<section>
  <h1>{{page.title}}
  </h1>
</section>

<section>
<h4>{{page.intro}}
</h4>
</section>
{% include content-text-image.html text=page.section-1.text image=page.section-1.image %}

{% include content-text-quote.html text=page.section-2.text quote=page.section-2.quote %}

{% include content-text-text.html text-left=page.section-3.text-left subhead-left=page.section-3.subhead-left text-right=page.section-3.text-right subhead-right=page.section-3.subhead-right %}

{% include content-text-image.html subhead=page.section-4.subhead text=page.section-4.text image=page.section-4.image %}

{% include content-text-space.html subhead=page.section-5.subhead text=page.section-5.text %}

  <section class="comments">
    <div class="grid">
      <div class="col-4">
      </div>
      <div class="col-4">
        <form>
          <h2>Penny for your Thoughts?</h2>
          <!-- NEED TO ADD FORM PLUGIN -->
          <input type="textarea" comment="" value="" placeholder="Comment"></input><br>
          <input type="text" name="" value="" placeholder="Name"></input><br>
          <input type="text" email="" value="" placeholder="Email"></input><br>
          <input type="button" value="Submit">
        </form>
      </div>
      <div class="col-4">
      </div>
    </section>
