<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Montserrat:300,400,500" rel="stylesheet">
  <script src="https://use.fontawesome.com/09ea3d3eb1.js"></script>
  <link href="css/style.css" type="text/css" rel="stylesheet"/>
</head>

<body>
  <header style="background-image:url({{ page.header-image}})">
    <!--- - - - - - - - - Header - h y- - - - - - -->
    <div class="centered">
      <a href="http://www.instagram.com/never_leaving_luxury/" target=_"blank">INSTAGRAM</a>
      <a href="http://www.facebook.com/neverleavingluxury/" target=_"blank">FACEBOOK</a>
      <a href="http://www.twitter.com/never__leaving/" target=_"blank">TWITTER</a>
      <a href="http://www.pinterest.com/neverleavinglux/" target=_"blank">PINTEREST</a>
    </div>
    <div class="grid header-fix">
      <nav class="col-4">
        <a href="http//www.never-leaving.com/reviews/">
          <i class="fa fa-circle-thin" aria-hidden="true"></i>
          HOTELS & RESORTS
        </a>
        <a href="http//www.never-leaving.com/editorial/">
          <i class="fa fa-circle-thin" aria-hidden="true"></i>
          EDITORIAL
        </a>
        <a href="/photos-menu.html">
          <i class="fa fa-circle-thin" aria-hidden="true"></i>
        PHOTO STORIES
        </a>
        <a href="http//www.never-leaving.com/about/">
          <i class="fa fa-circle-thin" aria-hidden="true"></i>
          ABOUT
        <a href="http//www.never-leaving.com/reviews/">
            <i class="fa fa-circle-thin" aria-hidden="true"></i>
          CONTACT
          </a>
        <a href="http//www.never-leaving.com/reviews/">
            <i class="fa fa-circle-thin" aria-hidden="true"></i>
          MEDIA
          </a>
        </a>
      </nav>
      <div class="col-4">
        <img class="logo" src="images/logo_transparent.png"/>
      </div>
      <div class="col-4">
      </div>
    </div>
  </header>
{{ content }}
  <footer>
    <div class="grid">
        <div class="col-4 footer-box">
        <h3>Read other articles</h3>
        <a href="#">Penang</a><br>
        <a href="#">Kuala Lumpur</a><br>
        <a href="#">Langkawi</a><br>
      </id>
      </div>
      <div class="col-4 footer-box">
        <!-- NEED TO ADD FORM PLUGIN -->
        <form>
          <h3>Get on the list</h3>
          <input type="text" email="" value="" placeholder="Email"></input><br>
          <input type="button" value="Subscribe"><br>
        </form>
      </div>
      <div class="col-4 footer-box last">
        <h3> Read other reviews</h3>
        <a href="#">The Datai</a><br>
        <a href="#">The Grand Hyatt</a><br>
        <a href="#">Layana Resort & Spa</a><br>
      </div>
      </div>
      <div class="col-12">
        <p>Never Leaving 2017</p>
      </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
