---
layout: default
---
{{ content }}
<section class="comments">
  <div class="grid">
    <div class="col-4">
    </div>
    <div class="col-4">
      <form>
        <h2>Penny for your Thoughts?</h2>
        <!-- NEED TO ADD FORM PLUGIN -->
        <input type="textarea" comment="" value="" placeholder="Comment"></input><br>
        <input type="text" name="" value="" placeholder="Name"></input><br>
        <input type="text" email="" value="" placeholder="Email"></input><br>
        <input type="button" value="Submit">
      </form>
    </div>
    <div class="col-4">
    </div>
  </section>
